<div class="container">
  <div class="jumbotron">
    <h1>About</h1>
    <p>This is an app I'm learning to make using rails.</p>
    <p>The repo can be found 
      <a href="https://github.com/mostlybadfly/recetera">here</a>
    </p>
  </div>
</div>
