<div class="headline">
  <h1>About</h1>
  <h3><a href="/">Home</a>
</div>

<div class="about-info">
<p>This is a recipe maker app built using rails.</p>
<p>The repo can be found 
  <a href="https://github.com/mostlybadfly/recetera">here</a>
  </p>
</div>
