<h2 class="page-heading">About</h2>
<br/>
<p>This is an app I'm learning to make using rails.</p>
<p>The repo can be found 
<a href="https://github.com/mostlybadfly/recetera" class="gitlink">here</a>
</p>
