<h2 class="page-heading">Welcome to Recetera!</h2>
<br/>
<p>This is a recipe-making app, check back soon for more updates!</p>
<br/>
<%= link_to 'New recipe', new_recipe_path, :class => "btn btn-info"  %>

<%= link_to 'All recipes', recipes_path, :class => "btn btn-info"  %>
