<div class="container">
  <div class="jumbotron">
    <h1> List of Recipes </h1>

    <table>
      <tr>
        <th>Recipe#</th>
        <th>Title</th>
      </tr>

      <% @recipes.each_with_index do |recipe, i| %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= recipe.title %></td>
          <td><%= link_to 'Show', recipe_path(recipe) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
