<div class="container">
  <div class="jumbotron">
    <h2 class="page-heading">List of Recipes</h2><br/>

    <table class="table table-condensed center-table">
      <tr>
        <th class="col-sm-2">Recipe#</th>
        <th class="col-sm-4">Title</th>
        <th class="col-sm-2">Link</th>
      </tr>

      <% @recipes.each_with_index do |recipe, i| %>
        <% if recipe.published == true %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= recipe.title %></td>
            <td><%= link_to 'View Recipe', recipe_path(recipe) %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <br/>
    <%= link_to 'New recipe', new_recipe_path, :class => "btn btn-info" %>
  </div>
</div>
