<div class="container">
  <div class="jumbotron">
    <h2><%= @user.email %>'s Recipes</h2>
    <% @user.recipes.each do |recipe| %>
      <ul class="list-unstyled">
        <li>
          <h3>
            <%= link_to recipe.title, recipe_path(recipe) %>
          </h3>
        </li>
      </ul>
    <% end %>
    <br>
    <%= link_to "Account Settings", edit_user_registration_path, :class => "btn btn-sm btn-warning pull-right" %>
  </div>
</div>
