@import "bootstrap-sprockets";
@import "bootstrap";

.headline h1,h3 {
  display: inline-block;
}

h1 {
  margin-left: 5px
}
h3 {
  float: right;
  margin-right: 5px;
}

.nav-buttons {
  margin: 10px;
}

.about-info {
  margin-left: 5px
}

label {
  font-weight: normal !important;
}

.center-table {
  margin: 0 auto !important;
  float: none !important;
  width: 80% !important;
}

.rec-list {
  text-align: center;
}
