@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-default {
 background-color: #9F1536;
 border-color: #B26577;
} 

.navbar.navbar-default li a {
  color: #E9DC19;
}

.footer li a {
  color: #E9DC19;
  font-size: 16px;
  font-weight: bold;
}

.footer ul {
  list-style-type: none;
  float: right;
  margin-right: 70px;
}

.navbar-default .navbar-brand {
  color: #E9DC19;
}

body {
  background-color: #277F9E;
}

.jumbotron {
  background-color: aliceblue;
}

label {
  font-weight: normal !important;
}

.center-table {
  margin: 0 auto !important;
  float: none !important;
  width: 80% !important;
}

.page-heading {
  text-align: center;
}

.gitlink {
  color: #B26577;
}
